@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .bg-premium {
    @apply bg-[length:20px_20px] bg-[radial-gradient(#bbb_1px,transparent_1px)];
  }

  .dark .bg-premium {
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
/* WhatsApp Button (unchanged) */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #128c7e;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
