@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .bg-premium {
    @apply bg-[length:40px_40px] bg-[radial-gradient(#bbb_1px,transparent_1px)];
  }

  .dark .bg-premium {
    background-image: radial-gradient(#444 1px, transparent 1px);
    background-size: 40px 40px;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px; /* To keep icon centered nicely */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #128c7e;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
